.features {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 2rem;
  width: 100%;
  background: var(--gbs-features-bg);
}

.featuresEven {
  background: var(--ifm-background-color);
}

.featuresEven :global(.row) {
  flex-direction: row-reverse;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.feature {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature h3 {
  font-size: 2rem;
  font-weight: bold;
}

.featureImg {
  max-height: 350px;
  overflow: hidden;
}

@media screen and (min-width: 996px) {
  .featureImg {
    margin-top: 1rem;
  }
}
