/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem 0 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.heroLeft p {
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  margin: 2rem 0;
  font-weight: 300;
}

.heroLeft :global(p.hero__subtitle) {
  color: #fff;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 300;
  margin-top: 0;
}

.heroRight {
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
}

.hero3D {
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

.buttons {
  display: flex;
}

.buttons :global(.button.button--secondary) {
  transition: transform .1s ease-in-out,-webkit-transform .1s ease-in-out;
  background-color: #fff;
  color: var(--ifm-color-primary-dark);
  font-size: 1.5rem;
}

@media screen and (min-width: 996px) {
  .heroBanner {
    padding: 3rem 0 0;
  }
  .heroContent {
    display: flex;
    /* align-items: center;
    justify-content: center; */
  }
  .heroLeft {
    max-width: 450px;
  }  
  .buttons :global(.button.button--secondary:hover) {
    transform: scale(1.2);
    background-color: #fff;
  }  
}
