.wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
}

.swatch {
  display: flex;
  align-items: center;
  background-color: var(--ifm-code-background);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: var(--ifm-code-border-radius);
  min-width: 150px;
  padding: 5px;
  font-weight: bold;
}

.color {
  background: #071821;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: middle;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.description {
  display: flex;
  align-items: center;
}
